body {
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}

.code{
    background: rgba(211, 211, 211, 0.322);
    padding: 10px;
    margin: 20px;
    min-width: max-content;
    max-width:95%;
}

.container-lg {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}
footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.profile-picture {
    border-radius:50%;
}

nav > ul > li {
  display:inline-block;
}
